<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- FontAwesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous">    
  </script>
  <!-- Angular js -->
  <title>PureBooks</title>
</head>
<body>

  <div class="event-brand container-fluid d-flex justify-content-center">
    <p class="text-light mb-0 p-1">
      Event Black Friday 25% descuento en todos los cursos
    </p>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark ">
    
    <div class="container-md ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="index.html">    
        <figure>
          <img class="" src="assets/logo/logo2.png" alt="" >
        </figure>    
          RuneBooks
      </a>
      
      <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-5">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="categorias.html"> Categorias</a>           
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="contacto.html">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="creadores.html">Creadores</a>
          </li>           
        </ul>      
        
      </div>
      <div class="d-flex align-items-center">
        
        <a class="btn rounded-circle">
          <i class="fa-solid fa-moon"></i>          
          <!-- <i class="ri-sun-fill"></i> -->
        </a>
        <!-- Avatar -->
        <div class="dropdown">
          <a
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            id="myprofile" data-toggle="dropdown"
          >
            <img
              src="https://i.pinimg.com/originals/6f/15/81/6f1581aab3414167f6d6a0b6666a4404.jpg"
              class="rounded-circle"
              height="40"
            />
          </a>
          <ul
            class="dropdown-menu"
            role="menu" aria-labelledby="myprofile"
          >
            <li>
              <a class="dropdown-item" role="menu-item" href="#">Mi perfil</a>
            </li>            
            <li>
              <a class="dropdown-item" role="menu-item" href="#">Salir</a>
            </li>
          </ul>
        </div>

        
  </div>
      </div>
    </div>
    
  </nav> 


        <title>Contacto</title>
    </head>

    <body>  


      <div class="container-md" ng-app="myApp" ng-controller="formCtrl">

        <div class="card-body">
            <h1 id="titulo">Contactate con nosotros</h1>
            <p id="subtitulo">Complete su informacion</p>
            <br>
        </div>

        <form name="myForm" class="container row d-flex justify-content-center align-items-end">
         
            <div class="col-md-4">
              <div class="form-outline">             
                <label for="validationServer02" for="form-label">Nombres</label>   
                <input type="text" class="form-control" id="validationServer01" 
                  placeholder="Nombres" minlength="5" ng-model="nombre" required />
                  <p style="text-align: center;">{{ myForm.nombre.$valid ? 'Campo valido' : 'id Curso no valido' }}</p>   
                  <div class="valid-feedback"></div>
                <div class="invalid-feedback">Debe ingresar nombres</div>                
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-outline">
                <label for="validationServer02" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="validationServer02" 
                  name="lastname" placeholder=" Apellidos" maxlength="50" ng-model="apellido" required />
                <p style="text-align: center;">{{ myForm.apellido.$valid }}</p>   
                <div class="valid-feedback is-valid"></div>
                <div class="invalid-feedback">Debe ingresar apellidos</div>
              </div>
            </div>        
            <div class="col-md-4">
              <div class="form-outline">
                <label for="validationServerUsername" class="form-label">Email</label>
                <div class="input-group">
                  <span class="input-group-text" id="inputGroupPrepend3">@</span>        
                <input
                  type="email"
                  name="email"
                  ng-model="email"
                  class="form-control"
                  id="validationServerUsername"
                  aria-describedby="inputGroupPrepend3"
                  placeholder="Correo Electronico"
                  required
                />
                <div class="invalid-feedback">Correo electronico no valido.</div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="form-outline">
                <label for="validationServer03" class="form-label">Telefono</label>
                <input type="text" class="form-control" name="phone" ng-model="phone"
                 id="validationServer03" minlength ="9" maxlength ="9" required />        
                <div class="invalid-feedback">Telefono no valido.</div>
              </div>
            </div>
            <div class="col-md-6 mt-3">
              <div class="form-floating ">        
                <select class="form-select" name="categoria" id="categoria" ng-model="categoria" required>
                  <option selected>- seleccione categoria -</option>
                  <option value="1">Problema con la plataforma</option>
                  <option value="2">Mas información de Cursos</option>
                  <option value="3">Quiero darme de baja mi cuenta</option>
                  <option value="4">Mas información de otros Bootcamps</option>
                  <option value="5">Otros</option>
                </select>
                <label for="floatingselect">Motivo</label>
              </div>
            </div>

            <div class="col-md-6 mt-3 mb-4">
              <div class="form-floating">        
                <select class="form-select" name="categoria" id="categoria" ng-model="medio" required>
                  <option selected>- seleccione medio -</option>
                  <option>Email</option>
                  <option>Telegram</option>
                  <option>Whatsapp</option>
                </select>
                <label for="floatingselect">Medio preferido de contacto</label>
              </div>
            </div>  
            
            
            <label for="marque"><strong> Marque una casilla si el curso es de alguno de estos lenguajes</strong></label>
           
            <div class="d-flex flex-row" >          
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="tecnologia1" name="tecnologia1" value="HTML">
                  <label class="form-check-label" for="tecnologia1"> HTML</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="tecnologia2" name="tecnologia2" value="CSS">
                <label class="form-check-label" for="tecnologia2"> CSS</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="tecnologia3" name="tecnologia3" value="JavaScript">
                <label class="form-check-label" for="tecnologia3"> JavaScript</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="tecnologia4" name="tecnologia4" value="PHP">
                <label class="form-check-label" for="tecnologia4"> PHP</label>              
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="tecnologia5" name="tecnologia5" value="C#">
                <label class="form-check-label" for="tecnologia5"> C#</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="tecnologia6" name="tecnologia6" value="Python">
                <label class="form-check-label" for="tecnologia6"> Python</label>
              </div>
              <div>
                  <input class="form-check-input" type="checkbox" id="tecnologia7" name="tecnologia7" value="Java">
                  <label class="form-check-label" for="tecnologia7"> Java</label>
              </div>
            </div>

            <label for="experiencia"><strong>Tine alguna duda? Comentenosla.  </strong></label>
            <div class="col-md-8">
                <textarea rows="5" style="width: 100%" id="experiencia" name="experiencia"></textarea>
            </div>
            <button class="btn btn-primary mb-3" type="submit" onsubmit="">Enviar</button>            

        </form>

        
      </div>

        <footer class="footer-page text-center text-lg-start text-muted">
            <section class="d-flex justify-content-center justify-content-lg-center p-4 border-bottom">
                
              <!-- Right -->
              <div>
                <a target="_blank" id="link-social-icon" href="" class="me-4 text-reset">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a target="_blank" id="link-social-icon" href="" class="me-4 text-reset">
                  <i class="fab fa-twitter"></i>
                </a>
                <a target="_blank" id="link-social-icon" href="" class="me-4 text-reset">
                  <i class="fab fa-google"></i>
                </a>
                <a target="_blank" id="link-social-icon" href="" class="me-4 text-reset">
                  <i class="fab fa-instagram"></i>
                </a>
                <a target="_blank" id="link-social-icon" href="" class="me-4 text-reset">
                  <i class="fab fa-linkedin"></i>
                </a>
                <a target="_blank" id="link-social-icon" href="" class="me-4 text-reset">
                  <i class="fab fa-github"></i>
                </a>
              </div>
              <!-- Right -->
            </section>
            
            <!-- Brand and Links  -->
            <section class="d-flex flex-wrap justify-content-center align-items-start m-5">
              <div class="col-sm-4 col-md-2 col-lg-2 col-xl-2 text-center text-md-start mt-1">
                <div class="row ">
                  <!-- Section 1 column 1 -->
                  <div class="col-xl-auto mb-4">
                    <h6 class="footer-brand fw-bold mb-4">
                      <a href="index.html" id="link-social-icon">
                        <img src="assets/logo/logo2.png" width="70px" alt="">
                      </a>              
                      RuneCursos
                    </h6>
                    <p class="footer-desc-brand">
                      Somos un grupo de desarrolladores autodidactas
                    </p>
                  </div>
                </div>
              </div>
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-3 mb-4">
                <!-- Links -->
                <!-- <h6 class="text-uppercase fw-bold mb-4">
                  Reclamaciones
                </h6>
                <p>
                  <a href="#!" class="text-reset">Contratos</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Option2</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Option3</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Option4</a>
                </p> -->
              </div>
              <!-- Grid column -->
          
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-3 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Rune Cursos
                </h6>
                <p>          
                  <a href="categorias.html" class="text-reset">Categorias</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Contacto</a>
                </p>
              </div>
              <!-- Grid column -->
          
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-3 ms-3 mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
                <p><i class="fas fa-home me-3"></i> 8005 Lima, Perú</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  runecursos@support.com
                </p>
                <p><i class="fas fa-phone me-3"></i> (+51) 988333444</p>
              </div>
              <!-- Grid column -->
          
            </section>
          
            <div class="foot-copyt text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
              © 2022 Copyright:
              <a class="text-reset fw-bold" href="#">E - Books</a>
            </div>
          
          </footer>

    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>    
    <script>
      var app= angular.module('myApp', []);
      app.controller('formCtrl', function($scope) {
          
      });
  </script>

</html>


